<!DOCTYPE html>

<html lang="en">

<head>
  <meta charset="utf-8">

  <style>
    table, th, td {
      border: 1px solid black;
    }
  </style>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

  <title>TinyApp</title>

</head>

<body style="font-size:20px; padding:50px;">
  <% include ./partials/_header %>
  <p></p>
    <!-- Add EJS code here -->
    <head>
    <table class = "table">
      <thread>
        <%if(user_id !== undefined) {%>
  <h2> MyURLs </h2>
    <p></p>
    <% Object.keys(urls).forEach(function(key) { %>
      <tr>
      <th> <%= key %> </th>
      <th scope="col"> <a href = "<%= urls[key] %>"> <%= urls[key] %> </a> </th>
      <th scope="col"> <a href = "/urls/<%= key %>"> edit </a> </th>
      <th scope="col>">
        <form method="POST" action="/urls/<%= key %>/delete">
          <button type="submit" value = 'delete'>delete</button>
      </form>
  </th>
    </tr>
  <% }) %>
      <%} else {%>
      <p> Please log in to view your URLS </p>
  <%}%>
</thread>
</table>
</body>

</html>
